<article class="post-card post
{{ if not (.context.Param "feature_image") }} no-image
{{ else }}
{{ if (eq (mod .index 6) 0) }} post-card-large {{ end }}
{{ end }} ">

        {{ if .context.Param "feature_image" }}
            <a class="post-card-image-link" href="{{ .context.Permalink }}">
                <img class="post-card-image"src="{{ .context.Site.BaseURL }}{{ .context.Param `feature_image` }}" alt="{{ .context.Title }}"/>
            </a>
        {{ end }}

        <div class="post-card-content">

            <a class="post-card-content-link" href="{{ .context.Permalink }}">

                <header class="post-card-header">

                    <h2 class="post-card-title">{{ .context.Title }}</h2>
                </header>



            </a>

        </div>

</article>
